In [41]:
a=0.0
bool(a)
# print(a)

False

In [42]:
a=("swaraj")
b=("wattamwar")
print("a"+"b")

ab

In [43]:
s="hello"
print(s[1])
print(s[0])
print(s[:3])
print(s[:])
print(s*3)
print(s[-1])
print(len(s))

e
h
hel
hello
hellohellohello
o
5

In [44]:
str1="hello"
str2="world"
str3=str2+str1
print(str3)
a="2"
str4=str1+str(a)
print(str4)

worldhello
hello2

In [45]:
age=23
a="happy"+str(a)+"birtday"
print(a)

happy2birtday

In [46]:
a=str(10)
print(type(a))

<class 'str'>

In [47]:
ls=[10,24,47,38,84]
print(ls[1:4])
print(type(ls))
print()

[24, 47, 38]
<class 'list'>

In [48]:
a=(74,4845,6,978,95,3,9)
print(a)
a[1]=11

(74, 4845, 6, 978, 95, 3, 9)

TypeError: 'tuple' object does not support item assignment

In [31]:
s = {1, 2, 3}  # Regular set (mutable)
fs = frozenset(s)  # Create a frozenset (immutable)

# fs.add(4)  # This would raise an AttributeError because frozensets cannot be modified

print(fs)  # Output: frozenset({1, 2, 3})

# You can perform operations like union or intersection without modifying the frozenset
print(fs.union({4, 5}))  # Output: frozenset({1, 2, 3, 4, 5})

frozenset({1, 2, 3})
frozenset({1, 2, 3, 4, 5})

In [ ]:
# Creating a bytes object
b = bytes([65, 66, 67])  # List of ASCII values for 'A', 'B', 'C'

print(b)  # Output: b'ABC' (ASCII representation)

# Accessing bytes
print(b[0])  # Output: 65 (ASCII value of 'A')

# You cannot modify the bytes object
# b[0] = 70  # This will raise a TypeError since 'bytes' is immutable

In [49]:
a=('''string''')
print(type(a))

<class 'str'>

In [50]:
my_tuple = (1, 2, 3, "apple", [4, 5])
print(my_tuple[0])   # Output: 1 (accessing first element)
print(my_tuple[3])   # Output: 'apple'
count(6)
# my_tuple[0] = 100  # This would raise a TypeError since tuples are immutable

1
apple

NameError: name 'count' is not defined

In [55]:
print(3+2**2**3)
print(type(1+5))
# print(type(1+"5"))
print(type("1"+"5"))

259
<class 'int'>
<class 'str'>

In [62]:

a=("Hello")
b=("hello")
print("a>b is",a>b)
print("a>=bis",a>=b)
print(a==b)
print(a!=b)
print(10=="hello")
x=15
print(10>x>20)  #interpreted as 10<15 and 15<20

a>b is False
a>=bis False
False
True
False
False

In [69]:
print(10 and 20)
print(0 and 20)
print(10 or 20)
print("" and "hello")
print(("" or "hello"))

20
0
10

hello

In [70]:
#WAP to find greater among two number 
n1,n2=1,2
g=n1 if n1>n2 else n2
print("greater number among",n1,"and",n2,"is ",g)

greater number among 1 and 2 is  2

In [72]:
#WAP to find greater among two number 
n1=(input())
n2=(input())
g=n1 if n1>n2 else n2
print("greater number among",n1,"and",n2,"is ",g)

greater number among 45 and 78 is  78

In [74]:
x=37
y=38
print(bin(x&y))
print(bin(~x&y))

0b100100
0b10

In [76]:
m=83 #objectnidentity
m=a
print(id(a))
print(id(m))

4394878192
4394878192

In [79]:
#identity operators
a=10 
b=10
print(a is b)
print(id(a),id(b))

True
4339745296 4339745296

In [127]:
a=("i love eating python")
print('i' in a)
print("love"in a)

True
True

In [98]:
name="swaraj"
print("hi%7s"%name)
print("hi%20s"%name)
print("hi%3s"%name)

hi swaraj
hi              swaraj
hiswaraj

In [116]:
n1,n2,n3=10,20,30
print('num={1},num={0},num={1}'.format(n1,n2,n3)) 
# here "."is imp

num=20,num=10,num=20

In [117]:
n1,n2,n3=10,20,30
print('num={},num={},num={}'.format(n1,n2,n3))

num=10,num=20,num=30

In [119]:
print("the story of {0},{1},and {other}.".format("bill","manfred",other="vivek"))

the story of bill,manfred,and vivek.

In [123]:
a,b=input("enter the value").split()
print(a,b)

36 37

In [125]:
a=input("enter the no")
print(a)

2376

In [126]:
"hello"and"hello world"

'hello world'

In [ ]:
print

In [129]:
# example of if else statement

a= 7 
b=7
if a>b:
    print(f"{a}is greater than{b}")
elif a<b:
    print(f"{b} is greater than{a}")
else:print (f"{a}is equal to {b}")

7is equal to 7

In [132]:
# example of if else statement
n1, n2 =map(int,input("enter two integers").split())
if (n1%n2==0):
    print(f'{n1}is divisble by {n2}')
else:
    print(f'{n1}is not divisible {n2}')

35is not divisible 27

In [134]:
# example of if elif else statement
amt=int(input("enter the amt"))
if amt>3000:
    discount=amt*0.20
elif amt>=2000:
    discount=amt*0.15
elif amt>=1000:
    discount=amt*0.05
print(discount)

365.09999999999997

In [139]:
x,y,z=map(int,input("enter the three integers").split())
min=mid=max=None
if x<y and x<z:
    if y<z:
        min,mid,max=x,y,z
    else:
        min,mid,max= x,z,y
elif y<x and y<z:
    if x<z:
        min,mid,max= x,y,z
    else :
        min,mid,max= y,z,x
else:
    if x<y:
        min, mid,max=z,x,y
    else: 
        min,mid,max=y,z,x
print(f'number in acsending order {min},{mid},{max}')

number in acsending order 73,49,73

In [140]:
a,b=10,20
if a==b:
    print("a is equal to b")
else:
    if a>b:
        print("a is greater than b")
    else:
        print ("b is greater than a")

b is greater than a

In [143]:
num = int(input("enter the num"))
match num:
    case 1:
        print("one")
    case 2:
        print("two")
    case 4:
        print("three")
    case _ :
        print ("num is not bet the num 1 to 3")

num is not bet the num 1 to 3

In [147]:
ch=input("enter a character")
if ch in 'aeiou':
     print (f"{ch} is vowel")
else:
     print (f"{ch} is not vowel")

y is not vowel

In [ ]:
ch1=input("Enter a character")
match ch1:
    case 'a'|'e'|'i'|'o'|'u':
        print(f"{ch1} is a vowel")
    case _:
        print(f"{ch1} is not a vowel")

In [150]:
a=int(input("enter a year"))
if a%400==0:
    print("it is leap year")
elif a%4==0 and a%100!=0:
    print("leap year")
else :
    print("not a leap year")

leap year

In [159]:
a,b,c,d,e=map(int,input("entre your mark").split(","))
avg=(a+b+c+d+e)/5
if avg>=90:
    print("A")
elif avg>=80:
    print("B")
elif avg>=70:
    print("c")
elif avg>=60:
    print("d")
else:
    print("sry your are fail ")

sry your are fail

In [160]:
a=int(input("Enter a no"))
if a==1:
    print("One")
elif a==2:
    print("Two")
elif a==3:
    print("Three")
elif a==4:
    print("Four")
elif a==5:
    print("Five")
elif a==6:
    print("Six")
elif a==7:
    print("Seven ")
elif a==8:
    print("Eight")
elif a==9:
    print("Nine")
else:
    print("Invalid")

Eight

In [186]:
for x in range(15,0,-1):
    print(x,end=" ")

15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [178]:
r=range(10,20)
for i in r : print(i,end="           ")

10           11           12           13           14           15           16           17           18           19

In [185]:
n=int(input("entre a num "))
sum=0
for x in range (1,n+1):
    sum+=x

print(sum)

10

In [184]:
n=int(input("entre a num "))
multi=1
for x in range (1,n+1):
    multi*=x

print(multi)

24

In [187]:
for x in range(10,30,2):
    print(x,end=" ")

10 12 14 16 18 20 22 24 26 28

In [189]:
sum=0
for x in range(30,51,2):
    sum+=x
print(sum)

440

In [194]:
a=str(input())
for x in a:
    print(x,end="-")

h-e-l-l-o-

In [196]:
name=str(input())
print(name,len(name))

swaraj 6

In [200]:
n=int(input("ENter a number"))
for i in range(1,n+1):
    if (i%3==0 and i%5==0):
        print("FizzBuzz")
    elif (i%3==0 and i%5!=0):
        print("Fizz")
    elif(i%5==0 and i%3!=0):
        print("Buzz")
    elif(i%5!=0 or i%3!=0):
        print(i,)
    else:
        print("Invalid")

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

In [214]:
a=input([])
print(a[::-1])

KEVIV

In [217]:
print("\n dict iteration")
d = {"xyz":1821,"abc":262}
for i in d :
    print("%s %d"%(i,d[i]))

 dict iteration
xyz 1821
abc 262

In [228]:
n=int(input("enter a number"))
sum=0
i=1
while i<=n:
    sum+=i
    i+=1

print(sum)

2628

In [236]:
n1,n2=map(int,input("entre a nos").split())
sum=0
while n1<=n2:
    sum+=n1
    n1+=1
print(sum)

55

In [2]:
#PYRAMID star pattern
rows= int(input())
for i in range(rows):
    for j in range(rows-i-1):
        print(" ",end="")
    for j in range(2*i+1):
        print("*", end="")
    print()

     *
    ***
   *****
  *******
 *********
***********

In [6]:
for x in range(10): #break statement
    if x>5:
        break
    print(x,end=",")

0,1,2,3,4,5,

In [11]:
for x in range(10): #continue statement
    if x==5:
        continue
    print(x,end=",")

0,1,2,3,4,5,6,7,8,9,

In [10]:
sum=0
for i in range(21):
    if i in range(5,15):
        continue
    sum+=i
print(sum)

115

In [13]:
x=int(input("entre a nos"))
if x>=0:
    pass
else:
    print("number is negative")

number is negative

In [29]:
for x in range(10):
    if x>5:
        break
    print(x,end=",")
else:
    print("finally finished")

0,1,2,3,4,5,

In [35]:
for x in range(10):
    if x>=5:
        print(x,end=",")
else:
    print("finally finished")

5,finally finished

In [27]:
ls=[10,20,30,40,50,60,70]
a=int(input("entre a number"))
print("entre a number is ",a)
for ele in ls:
    if a==ele:
        print('element found')
        break
else:
    print("element not found")

entre a number is  367
element not found

In [36]:
ls=[10,20,30,40,50,60,70]
a=int(input("entre a number"))
print("entre a number is ",a)
i=0
while i<len(ls):
    if a==ls[i]:
        print('element found')
        break
    i+=1
else:
    print("element not found")

entre a number is  5638
element not found

In [37]:
import array as arr
a=arr.array("i",[1,2,3,4,6])
count=a.count(2)
print("number of occurrence", count)

number of occurrence 1

In [39]:
a="one,two,three"
print(a.split(","))

['one', 'two', 'three']

In [40]:
a="catbatvatgatvatwat"
print(a.split("t"))

['ca', 'ba', 'va', 'ga', 'va', 'wa', '']

In [41]:
a="10:20:30"
print(a.split(','))

['10:20:30']

In [49]:
a="catbatvatgatvatwat"
print(a.split("t",1)) #maxsplit

['ca', 'batvatgatvatwat']

In [50]:
a="one,two,three,four"
print(a.split(",",2))

['one', 'two', 'three,four']

In [57]:
a="catbatvatgatvatwat"
print(a.rsplit("t",3))

['catbatvatga', 'va', 'wa', '']

In [58]:
a="cat bat vat gat vat wat"
print(a.partition("gat"))

('cat bat vat ', 'gat', ' vat wat')

In [68]:
a=['SUHF','UFH','ruhg']
print("".join(a))

SUHFUFHruhg

In [70]:
a={"petrol":1,"furl":2}
print("-*-".join(a))

petrol-*-furl

In [82]:
#funtion 
num=int(input())
def even_odd(num):
    if num%2==0:
        return num,'even number'
    else:
        return num,'is odd number'
even_odd(num)

(786, 'even number')

In [78]:
num=int(input())
def even_odd(num):
    if num%2==0:
        print(num,'is even number')
    else:
        print(num,'is odd number')
even_odd(num)

756 is even number

In [ ]:
def fact(num):
    result=1 
    while num>=1
    result=result*num
    num=num

In [84]:
def greet(name,msg):
    print("hello",name,msg)
greet(name="gvurvh",msg="riugh ri")

hello gvurvh riugh ri

In [87]:
def greet(name="jhd",msg="ieygf"):
    print("hello",name,msg)
greet()

hello jhd ieygf

In [88]:
def add(*nums):
    sum=0
    for i in nums:
        sum+=i
    print(sum)
add(8,8,8,47,42,1,2)

116

In [4]:
def func_kward(**data): 
    print("\n data type of argument",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))
func_kward(firstnman="suta",lastname="addgatal",age=329568,phone=5764675488)
func_kward(firstname="sonuuu",lastname="monuuuu",lastdate="11-15-2030")

 data type of argument <class 'dict'>
firstnman is suta
lastname is addgatal
age is 329568
phone is 5764675488

 data type of argument <class 'dict'>
firstname is sonuuu
lastname is monuuuu
lastdate is 11-15-2030

In [11]:
#wap to find prime no.
def test_prime(n):
    if n==1:
        return False
    elif n==2:
        return True
    else :
        for x in range(2,n//2):
            if n%x==0:
                return False
    return True
print(test_prime(7))

True

In [13]:
#calling function within a function
def cap(text):
    return text.upper()
def greet(name):
    return f"hello! {name}"

def greet_and_cap(name):
    n=cap(name)
    return greet(n)


result=greet_and_cap("sonuuuu")
print("final result:",result)

final result: hello! SONUUUU

In [16]:
#Example of Global Variable 
a=10 # global variable
def f11(): 
    a=20 #Local Variable 
    print(a) 
def f22(): 
    print(a) 
#a=10 You can define global variable here also


f11() 
f22()

20
10

In [28]:
import ModuleEx1 as par
print(par.add(5,10))
print(par.prod(634,62))
print(par.x)

15
696
100

In [42]:
from ModuleEx1 import add # type: ignore
print(add(x,10))
print(prod(2,62))
print(x)

110
64
100

In [24]:

def missingCharacters(s):
    check = "0123456789abcdefghijklmnopqrstuvwxyz"
    res = ""
    for letter in check:
        if letter not in s:
            res +=letter
            
    return res

In [27]:
missingCharacters("8hypotheticall024y6wxz")

'13579bdfgjkmnqrsuv'

In [1]:
from random import *
for i in range (5):
    print(uniform(5,10))

7.583185447186523
7.42117233814871
8.318474323211785
7.97361033256668
7.4751508280519445

In [2]:
l=[34,54,97,46]
l.append(2372)

print(l)

[34, 54, 97, 46, 2372]

In [6]:
l=[34,54,97,46]
l.insert(1,543)

print(l)

[34, 543, 54, 97, 46]

In [10]:
l=[34,54,97,46]
l.pop(3)

print(l)

[34, 54, 97]

In [11]:
l=[34,54,97,46]
l.pop()

print(l)

[34, 54, 97]

In [15]:
l=[34,54,97,46]
l += ["A", "S", 1, 3]
# l.extend(["A", "S", 1, 3])
# l.extend)"[tj,yj,rtj,t"]

print(l)

[34, 54, 97, 46, 'A', 'S', 1, 3]

In [ ]:
ls1=[1,2,3,4]
ls2=ls1[:] #ls2=ls1.copy()

In [19]:
#list comprehension
#syntax = newlist=[expression for item in iterable if condition ==True]
list=[2**value for value in range(1,7)]
print(list)

[2, 4, 8, 16, 32, 64]

In [20]:
list=[value for value in range(5,50) if value%2!=0]
print(list)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [22]:
[(x,y) for x in [1,2,3] for y in [3,4,5,6]]

[(1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6)]